:root {
  --transition-timing-base: cubic-bezier(0.4, 0, 0.2, 1);

  --color-border-input: #cbd5e1;
  --color-border-input-hover: #adb7c5;
  --color-border-input-focus: #151515;

  --color-background-body: #ffffff;
  --color-background-button: #151515;

  --color-text-body: #151515;
  --color-text-button: #fbfbfb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-border-input: #3f3f46;
    --color-border-input-hover: #52525b;
    --color-border-input-focus: #e4e4e7;

    --color-background-body: #111111;
    --color-background-button: #e4e4e7;

    --color-text-body: #e4e4e7;
    --color-text-button: #151515;
  }

  html {
    color-scheme: dark;
  }
}

*,
::before,
::after {
	box-sizing: border-box;
}


body {
  margin: 0;
  width: 20rem;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: var(--color-background-body);
  color: var(--color-text-body);
}

button {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
}

.textarea {
  outline: 1px solid transparent;

  border-radius: 0.5rem;
  border: 1px solid var(--color-border-input);

  padding: 0.5rem;
  height: 10rem;

  font-family: inherit;
  font-size: 0.75rem;
  line-height: 1.7;

  resize: none;

  background-color: var(--color-background-body);

  transition:
    border 250ms var(--transition-timing-base),
    outline 250ms var(--transition-timing-base);
}

.textarea:hover {
  border-color: var(--color-border-input-hover);
}

.textarea:focus-visible {
  outline-color: var(--color-border-input-focus);
}

.button {
  border-radius: 0.5rem;
  border: none;

  padding-block: 0.5rem;

  font-size: 0.875rem;
  line-height: 1.2;

  background-color: var(--color-background-button);
  color: var(--color-text-button);

  box-shadow: 0 0 0 0 var(--color-background-button);

  transition:
    background-color 250ms var(--transition-timing-base),
    box-shadow 250ms var(--transition-timing-base);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button:not(:disabled):hover {
  box-shadow: 0 0 0 2px var(--color-background-button);
}

.break {
  border-radius: 625rem;
  border-top: 1.5px solid var(--color-text-body);

  width: 30%;
}

.label {
  font-weight: 500;
}

.select {
  outline: 1px solid transparent;

  border-radius: 0.5rem;
  border: 1px solid var(--color-border-input);

  padding: 0.5rem 0.25rem;

  background-color: inherit;

  transition:
    border 250ms var(--transition-timing-base),
    outline 250ms var(--transition-timing-base);
}

.select:not(:disabled):hover {
  border-color: var(--color-border-input-hover);
}

.select:focus-visible {
  outline-color: var(--color-border-input-focus);
}

.select:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
